@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    src: url('./indieflower_regular.ttf') format('truetype');
  }